<mat-toolbar class="app-header-elem">
    <div class="menu-left">
        <div class="extra-space"></div>
        <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Super Web Hero</span>
    </div>
  
    <div class="menu-right">
        <div class="right-button-row">
            <a matButton="filled" routerLink="/home" routerLinkActive="active">Home</a>
            <a matButton="filled" routerLink="/favorites" routerLinkActive="active">My super favs</a>
            <a matButton="filled" href="#" target="_self">Account</a>
        </div>
        <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>        
        <div class="extra-space"></div>
    </div> 
</mat-toolbar>